app-header {
    display: block;
    background: white;
    height: 34px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 0 1px #e3e4e8;
}

    app-header div {
        height: 100%;
    }

    app-header .nav-layer {
        margin: 0 auto;
    }

    app-header .layer {
        position: absolute;
        top: 0;
        line-height: 34px;
        height: 0;
    }

    app-header .nav {
        text-align: center;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        line-height: 34px;
    }

    app-header .nav-item {
        cursor: pointer;
        border-bottom: 1px solid transparent;
        width: 33%;
        display: inline-block;
    }

        app-header .nav-item:hover {
            background: #f0f2f5;
            border-bottom: 1px solid #777;
        }

    app-header .user-layer {
        right: 50%;
        text-align: right;
    }

    app-header .user-block {
        min-width: 137px;
        text-align: left;
        white-space: nowrap;
        margin-right: 50%;
        cursor: pointer;
    }

    app-header .avatar {
        vertical-align: top;
    }

    app-header .name {
        padding: 0 4px 0 0;
    }

    app-header .user-menu {
        width: 137px;
        height: auto;
        overflow: hidden;
        visibility: collapse;
        transition: visibility linear 200ms 200ms;
    }

    app-header .user-block:hover .user-menu {
        visibility: visible;
    }

    app-header .user-menu span {
        color: black;
    }

    app-header .user-menu ul {
        list-style-type: none;
        background: white;
        margin: 0 5px 5px;
        padding: 0;
        transform: translateY(-100%);
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
        transition: transform ease-in-out 200ms;
    }

    app-header .user-block:hover .user-menu ul {
        transform: none;
        visibility: visible;
    }

    app-header .user-menu li {
        padding-left: 16px;
        height: 37px;
    }

        app-header .user-menu li:first-child {
            border-bottom: 1px solid #ddd;
            height: auto;
            line-height: 1.5em;
            font-size: 0.9em;
            color: #888;
            min-height: 2em;
            padding-top: 0.5em;
        }

        app-header .user-menu li:not(:first-child):hover {
            background: #f0f2f5;
        }

    app-header .dialog-layer {
        left: 50%;
        top: 0;
    }

        app-header .dialog-layer .dialog-layer-content {
            margin-left: 50%;
            line-height: inherit;
        }

        app-header .dialog-layer .dialog-btn {
            margin-left: 20px;
            vertical-align: middle;
        }

        app-header .dialog-layer .dialog {
            position: relative;
            left: -200%;
            margin-top: 15px;
        }
