task-list-item {
    display: block;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin-top: 15px;
    white-space: nowrap;
    padding: 10px;
}

    task-list-item .name {
    }

    task-list-item .avatar {
        vertical-align: top;
    }

        task-list-item .avatar img {
            width: 68px;
        }

    task-list-item .time {
        color: #8e8f9e;
        font-size: 0.9em;
    }

    task-list-item .text {
        white-space: normal;
        white-space: initial;
    }

    task-list-item .header {
        margin-bottom: 5px;
    }

    task-list-item .content {
        margin-right: 73px;
        margin-left: 10px;
    }

    task-list-item .footer {
        text-align: right;
        margin-top: 10px;
    }

        task-list-item .footer button {
            background: #ddd;
            border: none;
            color: #000;
            height: 1.67em;
            border-radius: 2px;
            padding: 0 7px 0;
        }

            task-list-item .footer button:active {
                padding: 2px 7px 0
            }
