registration {
    display: block;
    margin: 0 auto;
    margin-top: 220px;
    width: 600px;
}

    registration .steps {
        height: 300px;
        width: 600px;
        white-space: nowrap;
    }

        registration .steps > * {
            display: inline-block;
            width: inherit;
            height: inherit;
            position: fixed;
            margin-left: 600px;
            opacity: 0;
            visibility: collapse;
            transition: margin ease-in-out 550ms, 
                opacity ease-in-out 400ms,
                visibility linear 400ms;
        }

            registration .steps > *.current {
                margin: 0;
                opacity: 1;
                visibility: visible;
            }

            registration .steps > *.visited {
                margin-left: -600px;
            }

    registration .footer {
        padding: 15px 0;
        text-align: right;
    }
